.cart-container {
  background-color: white;
  margin: 1.5rem;
  padding: 0 1.5rem;
}
h2 {
  color: var(--color-red);
  padding: 1rem 0;
}
.cart-item {
  display: grid;
  gap: 0.5rem;
  border-bottom: 1px solid var(--color-rose-100);
  padding-bottom: 1rem;
}
.name {
  color: var(--color-rose-900);
  font-weight: var(--font-weight-semibold);
  grid-column: 1/3;
}
.remove-button {
  justify-self: end;
  width: auto;
  border-radius: 50%;
  border: 1px solid var(--color-rose-400);
  background-color: white;
  cursor: pointer;
}
.cart-item-details {
  grid-column: 1/2;
}
.cart-item-details span{
  margin: 0 5px;
}
.cart-item-details span:nth-child(1) {
  color: var(--color-red);
  font-weight: var(--font-weight-semibold);
}
.cart-item-details span:nth-child(2) {
  color: var(--color-rose-500);
}
.cart-item-details span:nth-child(3) {
  color: var(--color-rose-500);
  font-weight: var(--font-weight-semibold);
}
.total-amount{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
.total-amount span:nth-child(2) {
  color: var(--color-rose-900);
  font-weight: var(--font-weight-bold);
  font-size: 1.5rem;
}
.carbon-info {
  display: flex;
  justify-content: center;
  gap: 0.3rem;
  background-color: var(--color-rose-50);
  padding: 1rem 0.2rem;
  border-radius: 10px;
}
strong {
  font-weight: var(--font-weight-semibold);
}
.confirm {
  background-color: var(--color-red);
  color: white;
  border-radius: 2rem;
  border: none;
  width: 100%;
  padding: 0.7rem 0.2rem;
  margin: 1rem 0;
  cursor: pointer;
}

