
<section class="cart-container">
  <h2>Your Cart ({{cartItems()?.length}})</h2>
  @if (cartItems()?.length===0) {
    <img src="../../../assets/images/illustration-empty-cart.svg" alt="illustration of cake">
    <span>Your added items will appear here</span>
  } @else {
    @for (cartItem of itemDetails(); track cartItem.product.name) {
      <div class="cart-item">
        <span class="name">{{cartItem.product.name}}</span>
        <div class="cart-item-details">
          <span>{{cartItem.quantity}}x</span>
          <span>&#64; ${{cartItem.totalPrice | number:'1.2-2'}}</span>
          <span class="price">${{cartItem.product.price | number:'1.2-2' }}</span>
        </div>
        <button
        (click)="removeItemFromCart(cartItem.product)"
         class="remove-button">
          <img src="../../../assets/images/icon-remove-item.svg" alt="Remove to Cart Icon">
        </button>
      </div>
    }
    <div class="total-amount">
      <span>Order Total</span>
      <span>${{cartTotalPrice() | number:'1.2-2' }}</span>
    </div>
    <div class="carbon-info">
      <img src="../../../assets/images/icon-carbon-neutral.svg" alt="Icon of Tree">
      <span>This is a <strong>carbon-neutral</strong> delivery</span>
    </div>
    <button class="confirm">Confirm Order</button>
  }
</section>
