
<section class="cart-container">
  <h2>Your Cart (total)</h2>
  @if (cartItems()?.length===0) {
    <img src="../../../assets/images/illustration-empty-cart.svg" alt="illustration of cake">
    <span>Your added items will appear here</span>
  } @else {
    @for (cartItem of cartItems(); track cartItem.name) {

      <div>
        <span class="name">{{cartItem.name}}</span>
        <div>
          <span>quantité x</span>
          <span>total</span>
          <span class="price">${{cartItem.price | number:'1.2-2' }}</span>
        </div>
        <button>
          <img src="../../../assets/images/icon-remove-item.svg" alt="Remove to Cart Icon">
        </button>
      </div>

      <div>
        <span>Order Total</span>
        <span>$$</span>
      </div>
      <div>
        <img src="../../../assets/images/icon-carbon-neutral.svg" alt="Icon of Tree">
        <span>This is a <strong>carbon-neutral</strong>delivert</span>
        <button>Confirm Order</button>
      </div>
    }
  }

</section>
