<div class="cart-container">
  @if (!product()) {
    <div class="loading-spinner">
      <p>Chargement du produit...</p>
      </div>
    } @else {
      <div>
        <img [src]="product()?.image?.mobile" alt="Picture of {{product()?.name}}">
        <button (click)="addToCartButton()"><img src="../../../assets/images/icon-add-to-cart.svg" alt="Add to Cart Icon">Add to Cart</button>
      </div>
      <span class="category">{{product()?.category}}</span>
      <span class="name">{{product()?.name}}</span>
      <span class="price">${{product()?.price | number:'1.2-2' }}</span>
    }
</div>

