.cart-container {
  margin: 0 1.5rem;
  display: flex;
  flex-direction: column;
}
.cart-container img {
  border-radius: 3%;
}
.cart-container img:hover {
  border: 2px solid var(--color-red);
}

.cart-container div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0 ;

}
.cart-container button {
  position: absolute;
  bottom: -7%;
  display: flex;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid var(--color-rose-400);
  background-color: white;
  gap: 15px;
  color: var(--color-rose-900);
  font-weight: var(--font-weight-semibold);
  font-size: 0.75rem;
  cursor: pointer;
}
.cart-container button img {
  width: 20%;
}
.category {
  color: var(--color-rose-500);
}
.name {
  color: var(--color-rose-900);
  font-weight: var(--font-weight-semibold);
}
.price {
  color: var(--color-red);
  font-weight: var(--font-weight-semibold);
}


